<!DOCTYPE html>
<html lang="en" class="w-full h-full bg-neutral-950 text-neutral-50 flex">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="/static/tailwind.js"></script>
    <script src="/static/htmx.js"></script>
</head>
<body class="flex flex-col flex-grow items-center py-[10%] gap-4 w-full h-full">

    <script>
        document.body.addEventListener('htmx:beforeSwap', function(event) {
            event.detail.shouldSwap = true;
        });
    </script>

    <p class="">TOTP LOGIN</p>
    <form class="max-w-full w-full sm:w-[24rem] bg-neutral-900 p-12 border-2 border-neutral-700" hx-post="/auth/login" hx-target="#response" hx-swap="innerHTML" enctype="multipart/form-data">
        <label for="idinput">ID</label>
        <input name="id" placeholder="ID" id="idinput" type="text" class="w-full text-neutral-900">
        <label for="totpinput">TOTP</label>
        <input name="totp" placeholder="TOTP" id="totpinput" type="number" class="w-full text-neutral-900">

        <button type="submit" class="mt-4">Login</button>
    </form>
    <p id="response">...</p>
    <div class="w-[24rem] p-12 flex flex-col items-center gap-4">
        <button class="px-4 py-2 border border-neutral-700" hx-get="/totp/list" hx-target="#listresponse" hx-swap="innerHTML">Load ID list</button>
        <pre id="listresponse"></pre>
    </div>

</body>
</html>